<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Log Collection</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <script th:src="@{/js/jquery.min.js}"></script>
  <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div th:if="${results != null}">
            <div th:each="result : ${results}">
              <div>
                <label th:text="${result}"></label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
</html>